<form nz-form>
    <div ng-row>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="name">Collaborator name</nz-form-label>
        <nz-form-control  [nzSpan]="24">
          <input [(ngModel)]="entity.name" nz-input name="name" type="text" id="name">
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="client">Role</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <input [(ngModel)]="entity.roleId" nz-input name="client" type="text" id="client">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div>
      <nz-form-item>
        <nz-form-label [nzSpan]="24" nzFor="name">Description</nz-form-label>
        <nz-form-control>
          <div style="margin:24px 0;"></div>
          <textarea [(ngModel)]="entity.description" nz-input placeholder="Autosize height with minimum and maximum number of lines" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
  <button (click)="submit()">Create</button>