<form nz-form>
  <div ng-row>
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="name">Project name</nz-form-label>
      <nz-form-control  [nzSpan]="24">
        <input [(ngModel)]="project.name" nz-input name="name" type="text" id="name">
      </nz-form-control>
    </nz-form-item >
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="client">Manager</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <input [(ngModel)]="project.managerId" nz-input name="client" type="text" id="client">
      </nz-form-control>
    </nz-form-item>
  </div>
  <div>
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="name">Description</nz-form-label>
      <nz-form-control>
        <div style="margin:24px 0;"></div>
        <textarea [(ngModel)]="project.description" nz-input placeholder="Autosize height with minimum and maximum number of lines" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="client">Client name</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="client" type="text" id="client">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="client">Priority</nz-form-label>
    <nz-rate [(ngModel)]="project.priority" [ngModelOptions]="{standalone: true}"></nz-rate>
  </nz-form-item>
</form>
<button (click)="submit()">Create</button>
