<nz-breadcrumb style="margin:16px 0;">
    <nz-breadcrumb-item>
        <a routerLink="/abilities">Abilities</a>
    </nz-breadcrumb-item>
  
    <ng-container *ngIf="locations">
      <nz-breadcrumb-item *ngFor="let location of locations">
        {{ location }}
      </nz-breadcrumb-item>    
    </ng-container>
  
    <nz-breadcrumb-item *ngIf="!locations">
      <a routerLink="/abilities/manage">[+ Add new Ability]</a>
    </nz-breadcrumb-item>
  
  </nz-breadcrumb>
  
  <div style="padding:24px; background: #fff; min-height: 360px;">

    <router-outlet></router-outlet>
  </div>
  