<nz-layout class="main-container">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzTrigger]="triggerTemplate">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <a routerLink="/projects">
          <span><i class="anticon anticon-profile"></i>
          <span class="nav-text">Projects</span></span>
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/collaborators">
          <span><i class="anticon anticon-team"></i>
          <span class="nav-text">Collaborators</span></span>
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/abilities">
          <span><i class="anticon anticon-star"></i>
          <span class="nav-text">Abilities</span></span>
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/collaborators">
          <span><i class="anticon anticon-contacts"></i>
          <span class="nav-text">Clients</span></span>
        </a>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">Role</span></span>
        <ul>
          <li nz-menu-item>Manager</li>
          <li nz-menu-item>Designer</li>
          <li nz-menu-item>Front End</li>
          <li nz-menu-item>Back End</li>
          <li nz-menu-item>Fullstack</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
        <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
        {{ headerTitle }}
    </nz-header>
    <nz-content style="margin:0 16px;">
        <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">Walker</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up"></i>
</ng-template>