<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>
      <a routerLink="/projects">Projects</a>
  </nz-breadcrumb-item>

  <ng-container *ngIf="locations">
    <nz-breadcrumb-item *ngFor="let location of locations">
      {{ location }}
    </nz-breadcrumb-item>    
  </ng-container>

  <nz-breadcrumb-item *ngIf="!locations">
    <a routerLink="/projects/manage">[+ Add new project]</a>
  </nz-breadcrumb-item>

</nz-breadcrumb>

<div style="padding:24px; background: #fff; min-height: 360px;">
  Bill is a cat.
  <router-outlet></router-outlet>
</div>

  
